<div class="container">
    <div class="col-md-6">
        <form [formGroup]="recoverForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="text-center mb-4">
                <h1 class="h3">Recover Password</h1>
            </div>
            <div class="form-group mb-4 text-left">
                <div class="position-relative">
                    <input [ngClass]="{'is-invalid':recoverForm.get('mobile').hasError('required') &&
                    recoverForm.get('mobile').touched || (recoverForm.get('mobile').hasError('pattern')) }" type="text"
                        name="mobile" formControlName="mobile" placeholder="Mobile Number" maxlength="10"
                        class="form-control">
                    <span class="text-danger" *ngIf="recoverForm.get('mobile').hasError('required') && 
                    recoverForm.get('mobile').touched">
                        Mobile Number is Required
                    </span>
                    <span class="text-danger" *ngIf="recoverForm.get('mobile').hasError('pattern') && 
                    recoverForm.get('mobile').touched">
                        Enter valid Mobile Number
                    </span>
                </div>
            </div>
            <div class="form-group text-center">
                <button type="submit" (click)="VerifyMobileNo()" class="btn btn-primary">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>